html, body {
  margin: 0;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
}

.contenedor {
  width: 100%;
  margin: 0.5%;
}
.contenedor_d-none-mobile {
  display: none;
}
.contenedor_d-none-medium {
  display: block;
}

.menu__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__group_link {
  text-decoration: none;
  text-transform: uppercase;
}

.contenido__cabecera h2 {
  font-size: 1.5rem;
}
.contenido__cuerpo {
  font-size: 0.8125rem;
}

.menu {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-bottom: 1px solid gray;
  padding: 2% 0;
}
.menu__logo {
  grid-column: 1/span 1;
}
.menu__nav {
  grid-column: 2/span 1;
}
.menu__group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5%;
}
.menu__group_input-menu {
  border-radius: 30px;
  width: 100%;
}
.menu__group_item {
  grid-column: auto/span 1;
}
.menu__group_input-menu {
  border-radius: 30px;
}

.contenido {
  margin-bottom: 5%;
}
.contenido__contenedor-noticias {
  grid-column: 1/span 1;
}
.contenido__list-noticias {
  padding: 2%;
}
.contenido__noticia {
  grid-column: auto/span 1;
}
.contenido__cuerpo img {
  width: 100%;
}
.contenido__img {
  width: 95%;
  height: 50vh;
  max-height: 144px;
  background-image: url("https://picsum.photos/200/300?random=13");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contenido__barra-lateral {
  grid-column: 2/span 1;
  padding-right: 22%;
}
.contenido__barra-cabecera {
  border-bottom: 1px solid gray;
}
.contenido__tags {
  border-bottom: 1px solid gray;
}
.contenido__tags ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10%;
  padding: 0 10%;
}
.contenido__tags ul li {
  background-color: steelblue;
  color: white;
  grid-column: auto/span 1;
  text-align: center;
  padding: 5% 10%;
}
.contenido__noticias-destacadas img {
  width: 100%;
}

.newsletter {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding: 5%;
}
.newsletter__title {
  font-size: 1.5rem;
}
.newsletter__group input, .newsletter__group button {
  display: inline-block;
  border-width: 0;
  font-size: 0.8125rem;
  padding: 5px 1%;
}
.newsletter__group button {
  background-color: coral;
  color: white;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: block;
}

@media (min-width: 768px) {
  .contenedor_d-none-mobile {
    display: block;
  }
}

@media (min-width: 768px) {
  .menu {
    grid-template-columns: 5fr 2fr;
  }
}
@media (min-width: 768px) {
  .menu__group {
    grid-template-columns: 1fr 1fr 2fr;
  }
}

@media (min-width: 768px) {
  .contenido {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 4%;
    margin-bottom: 5%;
  }
}
@media (min-width: 768px) {
  .contenido__contenedor-noticias {
    grid-column: 1/span 1;
  }
}
@media (min-width: 768px) {
  .contenido__list-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 0% 4%;
    padding-left: 7%;
  }
}
@media (min-width: 992px) {
  .contenido__list-noticias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0% 4%;
    padding-left: 7%;
  }
}

@media (min-width: 768px) {
  .contenedor_d-none-medium {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
