.contenido {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 4%;

  &__contenedor-noticias {
    grid-column: 1 / span 1;
  }
  
  &__list-noticias {
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 0% 4%;
    padding-left: 7%;
  }

  &__noticia {
    grid-column: auto / span 1;
  }

  &__cuerpo {
    img {
      width: 100%;
    }
  }

  &__barra-lateral {
    grid-column: 2 / span 1;
    padding-right: 22%;
  }

  &__barra-cabecera {
    border-bottom: 1px solid $gray;
  }

  &__tags {
    border-bottom: 1px solid $gray;

    ul{
      padding: 0;
      list-style: none;

      li{
        background-color: $steelblue;
        color: $white;
        width: fit-content;
      }
    }
  }
    
}