.contenido {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 4%;

  &__list-noticias {
    grid-column: 1 / span 1;
  }

  &__noticia {
    width: $widthNews;
    display: inline-block;  
    cursor: pointer;
  }


  &__cuerpo {
    
    img {
      width: 100%;
    }
    p {

    }
  }

  &__barra-lateral {
    grid-column: 2 / span 1;
  }

  &__barra-cabecera {
    border-bottom: 1px solid $gray;
  }

  &__tags {
    border-bottom: 1px solid $gray;

    ul{
      padding: 0;
      list-style: none;

      li{
        background-color: $steelblue;
        color: $white;
        width: fit-content;
      }
    }
  }
  
  &__noticias-destacadas {

  }
  
}