.contenido {
  margin-bottom: 5%;

  &__contenedor-noticias {
    grid-column: 1 / span 1;
  }
  
  &__list-noticias {
    padding: 2%;
  }

  &__noticia {
    grid-column: auto / span 1;
  }

  &__cuerpo {
    img {
      width: 100%;
    }
  }
  
  &__img {
    width: 95%;
    height: 50vh;
    max-height: 144px;
    background-image: url('https://picsum.photos/200/300?random='+(random(11) + 4));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }

  //Barra lateral
  &__barra-lateral {
    grid-column: 2 / span 1;
    padding-right: 22%;
  }

  &__barra-cabecera {
    border-bottom: 1px solid $gray;
  }

  &__tags {
    border-bottom: 1px solid $gray;

    ul{
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10%;
      padding: 0 10%;

      li{
        background-color: $steelblue;
        color: $white;
        grid-column: auto / span 1;
        text-align: center;
        padding: 5% 10%;
      }
    }
  }
  
  &__noticias-destacadas {
    img {
      width: 100%;
    }
  }
}