.menu {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-bottom: 1px solid $gray;
  padding: 2% 0 ;
  
  &__logo {
    grid-column: 1 / span 1;
  }

  &__nav {
    grid-column: 2 / span 1;

  }
  
  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;

    &_input-menu {
      border-radius: 30px;
      width: 100%;
    }

    &_item {
      grid-column: auto / span 1;
    }

    &_input-menu {
      border-radius: 30px;
    }
  }
}

