.menu {
  display: grid;
  grid-template-columns: 6fr 2fr;
  border-bottom: 1px solid $gray;

  &__logo {
    grid-column: 1 / span 1;
  }

  &__nav {
    grid-column: 2 / span 1;

    &_input-menu {
      border-radius: 30px;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

    &_item {
      grid-column: auto / span 1;
    }

    &_input-menu {
      border-radius: 30px;
    }
  }

  }
