// Colores
$gray: gray;

// Tipografías: Fuentes

// Tipografías: Tamaños
$size24: 24px;

// Tipografías: Estilos
$bold: 500;

// Tipografías: Extra

// Diagramacion
$viewportWidth: 960px;
$width840: 840px;
$padding10: 10px;
