// Colores
$gray: gray;
$steelblue: steelblue;
$white: white;

// Tipografías: Fuentes
$tipografia: monospace;

// Tipografías: Tamaños
$size24: 24px;

// Tipografías: Estilos
$bold: 500;

// Tipografías: Extra

// Diagramacion
$viewportWidth: 960px;
$width840: 840px;
$width700: 700px;
$width220: 220px;
$width210: 210px;
$height300: 300px;
$height220: 220px;
$padding2: 2px;
$padding4: 4px;
$padding5: 5px;
$padding10: 10px;
$margin5: 5px;
$margin1: 1px;