// Colores
$gray: gray;
$steelblue: steelblue;
$white: white;
$coral: coral;
$whiteNot: #f2f4f5;

// Tipografías: Fuentes
$tipografia: monospace;

// Tipografías: Tamaños (en pixeles)
$textLarge: 24;
$textNormal: 13;

// Tipografías: Estilos
$bold: 700;

// Tipografías: Extra

// Diagramacion
$viewportWidth: 100%;
$widthNews: 32%; // 210 px
$padding10: 1%; //10px

$width840: 840px;
$width700: 700px;
$width220: 220px;
$height300: 300px;
$height220: 220px;
$padding2: 2px;
$padding4: 4px;
$padding5: 5px;
$padding30: 30px;
$margin5: 5px;
$margin1: 1px;