// Tipografias Navbar
.menu {
  &__logo{
    font-size: $large;
    font-weight: $bold;
    text-transform: uppercase;
  }
  &__group_link{
    text-decoration: none;
    text-transform: uppercase;
  }
}